/** Fonts **/
@import url(./src/vendor/fonts/fonts.css);

/** Normalize **/
@import url(./src/vendor/normalize.css);

/** Variables **/
@import url(./src/vendor/variables/variables.css);

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  margin: auto;
  width: 100%;
  height: 100%;

  font-family: var(--font-family);

  background-color: var(--yellow);
  color: var(--black);

  position: relative;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--black);
}

.hover {
  transition: var(--transition);
}

.hover:hover {
  opacity: 0.6;
}

.hide {
  display: none;
}

.main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;
}

.play {
  width: 49px;
  height: 55.5px;
  transform: translateY(7px);
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0 0;
  position: fixed;
}

.header__logo {
  display: block;
  width: 213.59px;
  height: 27px;
}

.header__path {
  transition: fill 0.2s linear;
}

.presentation {
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%), url(./src/images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 61vh 0.82fr auto;
  align-items: end;
}

.presentation__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: var(--yellow);
  word-spacing: -30px;
  margin: 0;
}

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px 0;
}

.subscription_position_grid {
  align-self: flex-end;
}

.subscription__button {
  font-weight: 500;
  color: var(--black);
  font-size: 20px;
  letter-spacing: 0.01em;
  border: 0;
  background-color: var(--yellow);
  padding: 21px 40px 21px;
  border-radius: 23px;
  cursor: pointer;
}

.subscription__button_color_black {
  background-color: var(--black);
  color: var(--white);
}

.subscription__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.75;
  color: var(--yellow);
  margin: 0;
}

.subscription__description_color_black {
  color: var(--black);
}

.presentation__arrow {
  border: 0;
  background: none;
  background-image: url(./src/images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 35px;
  height: 35px;
  justify-content: end;
  cursor: pointer;
  margin: 0 auto;
  padding: 0;
  align-self: center;
}

.film-collection {
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 43vh auto auto auto;
  align-items: flex-end;
}

.film-collection__container {
  align-self: flex-end;
}

.film-collection__title {
  color: var(--black);
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 64px;
  line-height: 1.2;
  text-align: center;
  word-spacing: -30px;
  margin: 0;
  padding: 0;
}

.film-collection__list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 0 30px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 64px;
  line-height: 1.2;
  word-spacing: -30px;
  white-space: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: x mandatory;
}

.film-collection__list::-webkit-scrollbar {
  display: none;
}

.film-collection__word {
  cursor: pointer;
  color: transparent;
  -webkit-text-stroke: 1px var(--black);
  background-color: var(--yellow);
  transition: color 0.1s linear;
}

.film-collection__word_active {
  color: var(--black);
  -webkit-text-stroke: 0;
  scroll-snap-align: center;
}

.spacer {
  display: inline-block;
  width: 50vw;
  flex-shrink: 0;
  cursor: default;
}

.film-collection__film-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 0 30px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  align-self: flex-end;
  margin-bottom: 30px;
}

.film-collection__film-list::-webkit-scrollbar {
  display: none;
}

.film-collection__link {
  display: block;
  width: 347px;
  height: 195px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.film-collection__film-list li:nth-child(1) .film-collection__link {
  background-image: url(./src/images/film-01.jpg);
}

.film-collection__film-list li:nth-child(2) .film-collection__link {
  background-image: url(./src/images/film-02.jpg);
}

.film-collection__film-list li:nth-child(3) .film-collection__link {
  background-image: url(./src/images/film-03.jpg);
}

.film-collection__film-list li:nth-child(4) .film-collection__link {
  background-image: url(./src/images/film-04.jpg);
}

.film-collection__film-list li:nth-child(5) .film-collection__link {
  background-image: url(./src/images/film-05.jpg);
}

.film-collection__film-list li:nth-child(6) .film-collection__link {
  background-image: url(./src/images/film-06.jpg);
}

.film-collection__film-list li:nth-child(7) .film-collection__link {
  background-image: url(./src/images/film-07.jpg);
}

.film-collection__film-list li:nth-child(8) .film-collection__link {
  background-image: url(./src/images/film-01.jpg);
}

.film-collection__film-list li:nth-child(9) .film-collection__link {
  background-image: url(./src/images/film-02.jpg);
}

.film-collection__film-list li:nth-child(10) .film-collection__link {
  background-image: url(./src/images/film-03.jpg);
}

.film-collection__film-list li:nth-child(11) .film-collection__link {
  background-image: url(./src/images/film-04.jpg);
}

.film-collection__film-list li:nth-child(12) .film-collection__link {
  background-image: url(./src/images/film-05.jpg);
}

.film-collection__film-list li:nth-child(13) .film-collection__link {
  background-image: url(./src/images/film-06.jpg);
}

.film-collection__film-list li:nth-child(14) .film-collection__link {
  background-image: url(./src/images/film-07.jpg);
}

.film-collection__info {
  width: 100%;
  font-size: 16px;
  line-height: 0.75;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 30px 15px;
}

.film-collection__info_position_mobile {
  display: none;
}

.film-collection__text {
  margin: 0;
}

.film-collection__email {
  font-size: 16px;
  line-height: 0.75;
  border: 0;
  background-color: inherit;
  cursor: pointer;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(253, 221, 45, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: var(--popup-transition);
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  color: var(--white);
  background-color: var(--black-two);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 66px 170px 76px;
  position: relative;
}

.popup__container_name_success {
  padding: 82px 105px 44px;
  width: 100%;
  max-width: 310px;
}

.popup__logo {
  width: 126px;
  display: block;
  padding-bottom: 34px;
}

.popup__logo_name_success {
  width: 60px;
  height: 60px;
  padding-bottom: 30px;
}

.popup__title {
  font-weight: 600;
  font-size: 26px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding-bottom: 8px;
}

.popup__title_name_success {
  max-width: 260px;
  font-weight: 600;
  font-size: 34px;
  line-height: 1.17;
  color: var(--white-two);
  padding-bottom: 24px;
}

.popup__description {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  padding-bottom: 24px;
}

.popup__form {
  width: 100%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  gap: 21px 0;
  padding-bottom: 27px;
}

.popup__input {
  color: var(--white);
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background-color: var(--input-background);
  border-radius: 16px;
  padding: 14px 16px;
}

.popup__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: var(--grey);
}

.popup__save-button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 1.4;
  color: var(--black);
  border-radius: 16px;
  background-color: var(--yellow);
  border: 0;
  padding: 12px 0;
  cursor: pointer;
  transition: all 0.7s linear;
  box-sizing: border-box;
}

.popup__save-button:disabled {
  background-color: var(--yellow-two);
  color: var(--black-three);
  cursor: default;
}

.popup__save-button:disabled:hover {
  opacity: 1;
}

.popup__continue {
  display: block;
  height: 23px;
}

.popup__continue_hide {
  display: none;
}

.loader {
  width: 23px;
  height: 23px;
  border: 2px solid var(--spinner-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 0.6s linear infinite;
  margin: 0 auto;
}

.loader_visible {
  display: block;
}

.popup__agreement {
  width: 100%;
  max-width: 340px;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: var(--grey-two);
  margin: 0;
}

.popup__link {
  color: var(--white-two);
}

.popup__success-button {
  width: 100%;
  max-width: 310px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.4;
  color: var(--black-three);
  border: 0;
  background-color: var(--yellow);
  border-radius: 16px;
  padding: 12px 0;
  cursor: pointer;
}

.popup__close-button {
  background: inherit;
  border: 0;
  width: 24px;
  height: 24px;
  background-image: url(./src/images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
}

.popup__close-button_name_success {
  background-image: url(./src/images/close-circle.svg);
}

@media screen and (max-width: 1000px) {
  .presentation {
    grid-template-rows: 57vh 0.88fr auto;
    gap: 10px 0;
  }

  .presentation__title,
  .film-collection__title,
  .film-collection__list {
    font-size: 46px;
    word-spacing: -20px;
  }

  .play {
    width: 35px;
    height: 40px;
    transform: translateY(3px);
  }
}

@media screen and (max-width: 768px) {
  .subscription {
    gap: 24px 0;
  }

  .presentation__arrow {
    align-self: flex-start;
  }
}

@media screen and (max-width: 700px) {
  .presentation {
    grid-template-rows: 54vh 0.88fr auto;
  }

  .presentation__title,
  .film-collection__title,
  .film-collection__list {
    font-size: 28px;
    word-spacing: -10px;
  }

  .play {
    width: 20px;
    height: 22px;
    transform: translateY(1px);
  }

  .film-collection__info {
    display: none;
  }

  .film-collection__info_position_mobile {
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    gap: 12px 0;
  }

  .film-collection__email {
    text-decoration: none;
  }

  .film-collection__info_position_mobile {
    padding: 0 0 30px 0;
  }
}

@media screen and (max-width: 440px) {
  .header {
    padding-top: 25px;
  }

  .header__logo {
    width: 158px;
  }

  .presentation {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%) center center / cover no-repeat,
      url(./src/images/banner.jpg) calc(50% + 15px) 0 / cover no-repeat;
    grid-template-rows: 52vh minmax(0.3fr, 0.88fr) auto;
    gap: 10px 0;
  }

  .presentation__title,
  .film-collection__title,
  .film-collection__list {
    font-size: 22px;
    word-spacing: -10px;
  }

  .subscription {
    gap: 15px 0;
  }

  .subscription__button {
    width: 100%;
    max-width: 332px;
    padding: 21px 0;
  }

  .play {
    width: 17px;
    height: 19px;
    transform: translateY(1px);
  }

  .film-collection {
    grid-template-rows: 25.5vh auto auto auto;
  }

  .film-collection__container {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    padding-bottom: 10px;
  }

  .film-collection__film-list {
    gap: 0 20px;
  }

  .film-collection__link {
    width: 226px;
    height: 340px;
    background-image: url(./src/images/film-mobile.jpg);
  }

  .popup {
    align-items: flex-end;
    backdrop-filter: none;
    background: none;
    transform: translateY(100%);
    opacity: 1;
  }

  .popup_opened {
    transform: translateY(0);
  }

  .popup__container {
    width: 100%;
    padding: 60px 0 108px 0;
    border-radius: 24px 24px 0 0;
  }

  .popup__title {
    font-size: 22px;
    line-height: 1.2;
    padding-bottom: 12px;
  }

  .popup__description {
    font-size: 14px;
    line-height: 1.4;
  }

  .popup__form {
    max-width: 311px;
    gap: 16px 0;
    padding-bottom: 24px;
  }

  .popup__agreement {
    max-width: 300px;
  }

  .popup__container_name_success {
    padding: 78px 0 58px;
    width: 100%;
    max-width: 100%;
  }

  .popup__title_name_success {
    max-width: 250px;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.2;
    padding-bottom: 28px;
  }
}
